<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Ursula, de Maria Firmina dos Reis</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
	<h1><a href="https://odanoburu.github.io/ursula/">ursula</a></h1>
        <p>romance de Maria Firmina dos Reis</p>
        <p class="view"><a href="http://github.com/odanoburu/ursula">veja esse projeto no GitHub <small>odanoburu/usula</small></a></p>
        <ul>
          <li><a href="https://github.com/odanoburu/ursula/releases/download/v1.0/ursula.pdf">baixar <strong>.pdf</strong></a></li>
          <li><a href="https://github.com/odanoburu/ursula/releases/download/v1.0/ursula.epub">baixar <strong>.ePUB</strong></a></li>
          <li><a href="https://github.com/odanoburu/ursula/tree/master/cap%C3%ADtulos">leia <strong>online</strong></a></li>
        </ul>
        <!-- precisa de ter três butões pra fazer nova linha, maldito css malescrito -->
        <ul>
          <li><a href="https://github.com/odanoburu/ursula/releases/download/v1.0/ursula.azw3">baixar <strong>.azw</strong></a></li>
          <li><a href="https://github.com/odanoburu/ursula/releases/download/v1.0/ursula.mobi">baixar <strong>.mobi</strong></a></li>
          <li><a href="https://github.com/odanoburu/ursula/releases">todas as <strong>versões</strong></a></li>
        </ul>
      </header>
 
      <section>
<!-- incluir aqui o .html do markdown. lembrar de remover o header e os tags de <html> -->
	{{ content }}
        <!-- main end section -->
      </section>
      <footer>
        <p>esse projeto é mantido por 1
<a href="mailto:bcclaro+ursula@gmail.com">odanoburu</a></p>
        <p><small>hospedado em GitHub Pages &mdash; adaptado de <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>
  </body>
</html>
